.btn {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  background: var(--card-bg);
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 12px 18px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary-color);
}
