.app_dark_theme {
  --bg-color: #070737;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --inverted-primary-color: #003dc8;
  --secondary-color: #03c903;
  --inverted-secondary-color: #1845e3;
  --skeleton-color: #5454d8;
  --skeleton-shadow: #3232d6;
  --code-bg: #080844;
  --card-bg: #0d0d6c;
}
