.app_dark_theme {
  --bg-color: #070737;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --inverted-primary-color: #0f57f3;
  --secondary-color: #049604;
  --inverted-secondary-color: #9bb0f6;
}
