.app_green_theme {
  --bg-color: #bbf0d0;
  --inverted-bg-color: #319060;
  --primary-color: #274b28;
  --inverted-primary-color: #f4fbf8;
  --secondary-color: #3a6c41;
  --inverted-secondary-color: #f4fbf8;
  --skeleton-color: #9edeb9;
  --skeleton-shadow: #3a6c41;
  --code-bg: #adf3d2;
  --card-bg: #a6f1c4;
}
