:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #070737;
  --primary-color: #003dc8;
  --inverted-primary-color: #04ff04;
  --secondary-color: #1845e3;
  --inverted-secondary-color: #03c903;
  --skeleton-color: #d7d6d6;
  --skeleton-shadow: #c2c1c1;
  --code-bg: #e4e4e4;
  --card-bg: #d9d9e8;
  --listbox-bg: #d9d9e8;
}
