.CommentCard {
  padding: 12px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    text-decoration: none;
  }
}

.loading {
  border: none;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
}
